body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

textarea{
    height: 175px;
    width: 100%;
    background-color: white;
    resize: none;
}

img {
    max-width: 100%;
    overflow: auto;
    text-align: center;
}

div.scroll {
    overflow: auto;
    height: 250px;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

.left {
    width: 50%;
    float: left;
    padding-top: 1em;
    margin: auto;
    padding-bottom: 0;
}

.center {
    width: 25%;
    text-align: right;
}

.right {
    text-align: right;
    width: 50%;
    padding-top: 1em;
    margin-left: 50%;
}

#expand {
    background-color: #c9c9c9;
    border:none;
    color: black;
    text-align: left;
    border-radius: 5px;
    margin-right: 2px;
}

#save_state {
    background-color: #c9c9c9;
    border:none;
    color: black;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin: 0 auto;
}

#header {
    text-align: left;
    width: 100%;
    height: 30%;
    border-bottom-style: solid;
    border-bottom-color: #89bdd3;
    border-width: thin;
    margin: 0px auto;
}

#footer {
    width: 100%;
    text-align: center;
}

#content_table {
    table-layout: fixed;
    background-color: #89bdd3;
    word-break: break-all;
}

#content_table th {
    text-align: center;
}

#settings_table td {
    color: black;
}

#headers {
    word-break: break-all;
    width: 100;
    text-align: left;
}

#content {
    width: 100%;
}

#drop {
    border: 2px dashed #bbb;
    border-radius: 4px;
    text-align: center;
    line-height: 100px;
    width: 70%;
    margin: 0 auto;
}

#contents {
    width: 100%;
    float: left;
    display: none;
}
